.header {
  max-width: 880px;
  width: 100%;
  margin: auto;
}

.header-expanded {
  height: 220px; /* Ajusta la altura según lo que necesites */
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  max-width: 173px;
  height: 60px;
  width: 100%;
  margin-bottom: 31px;
  margin-top: 45px;
  object-fit: cover;
}

.header_container-profile {
  display: flex;
}

.header_email {
  color: white;
  font-size: 18px;
  margin-right: 30px;
}

.header_hamburger-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: none;
}

.header_hamburguer-img {
  width: 30px;
}

.header_menu {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  text-align: end;
  padding: 30px;
}

.header_signin {
  font-size: 18px;
  color: white;
  text-decoration: none;
  min-width: 120px;
  text-align: center;
}

.header__line {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .header-expanded {
    .header_container {
      height: 200px;
      align-items: end;
    }

    .header_hamburger-button {
      margin-bottom: 50px;
    }
  }

  .header_container-profile {
    display: none;
  }

  .header_hamburger-button {
    display: block;
  }

  .header_hamburguer-img {
    display: block;
  }

  .header_menu {
    display: block;
  }

  .header_email {
    margin: 0 auto 18px;
  }
}

@media screen and (max-width: 580px) {
  .header__icon {
    width: 126px;
    margin-bottom: 0;
  }

  .header__line {
    height: 1px;
    border-radius: 10px;
  }

  .header-expanded {
    height: 180px;
    .header_hamburger-button {
      margin-bottom: 20px;
    }
  }
}
